* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #de4396;
  --secodary-color: #f76680;
  --head-color: #2d3748;
  --subheader-color: #4a5568;
  --btn-color: #6675f7;
  --main-btn: #3d63ea;
  --main-transtion: 0.5s;
  /* #406AFF */
}

body {
  font-family: "Inter", sans-serif;
}
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
/* End Animation */
.container {
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* Small */
@media (max-width: 767px) {
  .container {
    width: 750px;
    width: 100%;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
}
/**** Start Header ***/
header {
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 0;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
}

header .container .logo img {
  width: 150px;
  cursor: pointer;
}
header .container .toggle {
  display: none;
}
header .links {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}
@media (max-width: 767px) {
  header .container .toggle {
    display: block;
    cursor: pointer;
    margin-left: 45%;
    font-size: 30px;
    transition: var(--main-transtion);
  }
  .fa-xmark {
    display: block;
    cursor: pointer;
    margin-left: 45%;
    font-size: 30px;
    transition: var(--main-transtion);
  }
  header .container .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: 0.5s;
  }

  header .container ul li {
    text-align: center;
    padding: 5px;
  }

  header .container ul li a {
    padding: 10px;
    display: block;
    color: #000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 920px) {
  header .container ul {
    width: 55%;
  }
}
header .links li {
  text-align: center;
  padding: 5px;
}

header .links li a {
  text-decoration: none;
  font-size: 16px;
  transition: var(--main-transition);
  color: #4a5568;
  padding: 10px;
}

header .links li a:hover {
  background: -webkit-linear-gradient(#f7666f, #406aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn button {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(to right, #6675f7, #57007b);
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--main-transtion);
  color: #fff;
}

@media (max-width: 767px) {
  .btn button {
    display: none;
  }
}

.btn button:hover {
  background: linear-gradient(to right, #57007b, #6675f7);
}

/* start main */
main .landing {
  width: 90%;
  height: calc(100vh - 80px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
}
main .landing img {
  position: relative;
  max-width: 70%;
  margin-left: 20%;
  animation: up-and-down 4s linear infinite;
}
@media (max-width: 992px) {
  main .landing img {
    display: none;
  }
}
main .landing .text {
  text-align: left;
  max-width: 90%;
}
main .landing .text h1 {
  font-size: 53px;
  margin-bottom: 30px;
  font-weight: normal;
}
@media (max-width: 767px) {
  main .landing {
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  main .landing .text {
    text-align: center;
  }
  main .landing .text h1 {
    font-size: 45px;
  }
}
main .landing .text h1 .sp {
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
main .landing .text h1 .span {
  background: -webkit-linear-gradient(#f7666f, #406aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .landing .text h1 .h1 {
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--head-color);
}
main .landing .text p {
  font-size: 18px;
  color: var(--subheader-color);
  margin-bottom: 50px;
  text-align: left;
}

main .landing .text button {
  padding: 10px 20px;
  border: none;
  background-color: var(--main-btn);
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--main-transtion);
  color: #fff;
}

main .landing .text button:hover {
  opacity: 0.8;
}

/* Start Service{} */
.service {
  background-color: #f9f9ff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.service h2 {
  font-size: 35px;
  text-align: center;
  color: var(--head-color);
  margin-bottom: 50px;
}

.service .box-contain {
  height: 360px;
  display: flex;
  gap: 10px;
  overflow-y: auto;
  white-space: nowrap;
}
.service .box-contain::-webkit-scrollbar {
  width: 0;
}
.service .box {
  width: 330px;
  height: 250px;
  padding: 20px;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.service .box i {
  font-size: 30px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid var(--secodary-color);
}
.service .box h3 {
  width: 250px;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--head-color);
}
.service .box p {
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
  opacity: 0.7;
  color: var(--subheader-color);
}
.active {
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}
.actives {
  border: 1px solid var(--secodary-color);
  transform: translateY(50px);
  transition: 0.5s;
}
.service .dots {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.service .dots span {
  width: 10px;
  height: 10px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.dot {
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
}

/*Start About */
.about-us {
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
.about-us::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 30%;
  width: 50px;
  height: 50px;
  /* background: -webkit-linear-gradient(#f7666f, #0d1c9f); */
  background: linear-gradient(to right, var(--main-color), #0d1c9f);
  border-radius: 50%;
}
.about-us::after {
  content: "";
  position: absolute;
  bottom: -21px;
  right: 40%;
  width: 50px;
  height: 50px;
  /* background: -webkit-linear-gradient(#0d1c9f, var(--main-color)); */
  background: linear-gradient(to right, var(--main-color), #0d1c9f);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .about-us::after {
    right: 15%;
  }
}
.about-us .container {
  width: 85%;
}
.about-us .about-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
@media (max-width: 767px) {
  .about-us .about-content {
    display: flex;
    flex-direction: column;
  }
}
.about-us .about-info {
  top: 0;
  text-align: left;
  max-width: 90%;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .about-us .about-info {
    padding-bottom: 0;
  }
}
.about-us .about-info h2 {
  font-size: 34px;
  color: var(--head-color);
  margin-bottom: 50px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .about-us .about-info h2 {
    text-align: center;
  }
}
.about-us .about-info h2 span {
  font-weight: bold;
}
.about-us .about-info p {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.7;
  color: var(--subheader-color);
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-us .about-info a {
  cursor: pointer;
  color: #57007b;
}
.about-us .about-info i {
  margin-left: 10px;
  color: #57007b;
  cursor: pointer;
}

.about-us .about-info p span {
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us .about-img {
  position: relative;
}
.about-us .about-img .videos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  border-radius: 50%;
  background-color: #ffffff7a;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.about-us .about-img .video {
  /* background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #57007b;
}
.about-us .about-img img {
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .about-us .about-img img {
    top: 30px;
  }
}
.about-us .info {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 50px;
}
.about-us .info p {
  font-size: 20px;
  margin-bottom: 10px;
}
.about-us .info h4 {
  font-weight: bold;
  font-size: 20px;
}

/* Start Bar */
.bar {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-color: #f7f7fa;
  overflow: hidden;
}
.bar .conten {
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 767px) {
  .bar .conten {
    overflow-y: auto;
    white-space: nowrap;
  }
  .bar .conten::-webkit-scrollbar {
    width: 0;
  }
}
.bar .conten img {
  max-width: 200px;
}

@media (max-width: 767px) {
  .bar .conten img {
    max-width: 100px;
  }
}

/* end Bar */
/* start cutomers */
.cutomers {
  padding-top: 60px;
  padding-bottom: 60px;
}
.cutomers .content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.cutomers .content .info {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.cutomers .content .info h3 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: normal;
  position: relative;
}
.cutomers .content .info h3::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50px;
  height: 4px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
}
.cutomers .content .info h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
.cutomers .content .info p {
  width: 60%;
  margin: 5px auto;
  color: #777;
  line-height: 1.7;
  font-size: 16px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .cutomers .content .info p {
    width: 100%;
  }
}
.cutomers .content .auto-slider {
  max-width: 80%;
  display: flex;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 991px) {
  .cutomers .content .auto-slider {
    max-width: 100%;
  }
}
.cutomers .content .customs {
  display: flex;
  white-space: nowrap;
  gap: 30px;
  animation: rotation 30s linear infinite;
}

.cutomers .content .customs .customer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 10px auto;
  /* text-align: center; */
  opacity: 0.5;
  box-sixing: border-box;
  cursor: pointer;
}
.cutomers .content .customs .activ {
  opacity: 1;
}
.cutomers .content .customs .customer:hover {
  opacity: 1;
}
.cutomers .content .customs .customer:hover h3 {
  color: #57007b;
}

.cutomers .content .customs .customer h3.activs {
  color: #57007b;
}

@keyframes rotation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* .cutomers .content .customs .customer {
  filter: grayscale(100%);
} */
.cutomers .content .customs .customer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.5s;
}
.cutomers .content .customs .customer img:hover {
  transform: scale(1.1);
}

.cutomers .content .customs .customer span {
  display: block;
  text-align: center;
  margin-left: -10px;
  margin-bottom: 5px;
}
.cutomers .content .customs .customer span .start {
  color: #fdde55;
}

.cutomers .content .customs .customer h3 {
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}
.cutomers .content .customs .customer h3.activs {
  color: #57007b;
}
.cutomers .content .customs .customer p {
  color: #777;
}
.cutomers .content .left,
.cutomers .content .right {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #57007b;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.cutomers .content .left {
  left: 0;
}
.cutomers .content .right {
  right: 0;
}
@media (max-width: 991px) {
  .cutomers .content .left,
  .cutomers .content .right {
    display: none;
  }
}

/* Start studies */

.studies {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #f7f7fa;
}
.studies::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 30%;
  width: 15px;
  height: 15px;
  background: linear-gradient(to right, #0d1c9f, var(--main-color));
  border-radius: 50%;
}
.studies .content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.studies .content h3 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  position: relative;
}
.studies .content h3::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50px;
  height: 4px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
}
.studies .content h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-top: -20px;
}
.studies .content .boxs {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.studies .content .boxs .box {
  display: flex;
  margin-bottom: 30px;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .studies .content .boxs .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.studies .content .boxs .box:first-child {
  background-color: #f1f2ff;
}
.studies .content .boxs .box:nth-child(2) {
  background-color: #e7daed;
}
.studies .content .boxs .box:nth-child(3) {
  background-color: #fff4f4;
}
.studies .content .box .info {
  width: 50%;
  padding: 30px;
  position: relative;
}
@media (max-width: 991px) {
  .studies .content .box .info {
    width: 100%;
  }
}
.studies .content .boxs .info h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  position: relative;
}
.studies .content .boxs .info p {
  width: 100%;
  color: #777;
  line-height: 1.7;
  font-size: 15px;
  margin-bottom: 30px;
}
.studies .content .boxs .info a {
  position: absolute;
  right: 40px;
  bottom: 20px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.studies .content a .right {
  animation: moving-arrow 0.6s infinite linear;
}
@keyframes moving-arrow {
  100% {
    transform: translateX(5px);
  }
}
.studies .content .boxs .box .img {
  width: 50%;
}
@media (max-width: 991px) {
  .studies .content .boxs .box .img {
    width: 100%;
  }
}
.studies .content .boxs .box img {
  max-width: 100%;
  border-radius: 10px;
}
.studies .content a {
  position: absolute;
  right: 30px;
  bottom: 0px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/* start building */
.building {
  padding-top: 50px;
  padding-bottom: 50px;
}
.building .content h3 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  margin-bottom: 30px;
}
.building .content h3::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50px;
  height: 4px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
}
.building .content h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.building .content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
  position: relative;
}
@media (max-width: 1200px) {
  .building .content .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    position: relative;
  }
}
@media (max-width: 767px) {
  @media (max-width: 1200px) {
    .building .content .boxs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 10px;
      position: relative;
    }
  }
}
.building .content .boxs .box {
  position: relative;
}
.building .content .boxs .box img {
  max-width: 100%;
  border-radius: 10px;
}
.building .content .boxs .box .img,
.building .content .boxs .box .imgs {
  position: relative;
}
.building .content .boxs .box .img::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #ffef5e, #f7936f);
  border-radius: 50%;
  z-index: -1;
}
.building .content .boxs .box .img::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 25px;
  height: 25px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
  border-radius: 50%;
  z-index: -1;
}
.building .content .boxs .box .imgs::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 100px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #ffef5e, #f7936f);
  border-radius: 50%;
  z-index: -1;
}
.building .content .boxs .box .imgs::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -11px;
  width: 25px;
  height: 25px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 767px) {
  .building .content .boxs .box .img::before,
  .building .content .boxs .box .img::after,
  .building .content .boxs .box .imgs::before,
  .building .content .boxs .box .imgs::after {
    display: none;
  }
}
.building .content .boxs .box {
  padding: 5px;
  position: relative;
}
.building .content .boxs .box h4 {
  width: 90%;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  margin-bottom: 30px;
}
.building .content .boxs .box p {
  max-width: 100%;
  color: #777;
  line-height: 1.7;
  font-size: 15px;
  margin-bottom: 30px;
}
.building .content .boxs .box p span {
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.building .content .boxs .chef img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.building .content .boxs .chef {
  display: flex;
  gap: 20px;
}
.building .content .boxs .chef h5 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
}
.building .content .boxs .chef p {
  color: #777;
}
/* Start design */
.design {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #f7f7fa;
}

.design h2 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  margin-bottom: 20px;
}
.design h2::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50px;
  height: 4px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
}
.design h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}
.design .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 10px;
  position: relative;
}
@media (max-width: 767px) {
  .design .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
  }
}
.design .boxs .box {
  display: flex;
  gap: 20px;
  border: 1px solid #e7daed;
  padding: 20px 10px;
}
.design .boxs .box .img {
  padding-left: 10px;
}
.design .boxs .box img {
  width: 50px;
  height: 50px;
}
.design .boxs .box h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.design .boxs .box p {
  color: #777;
  line-height: 1.7;
  max-width: 100%;
  font-size: 15px;
}
.design .boxs .box p span {
  color: #57007b;
  font-size: 17px;
  font-weight: bold;
}

/* Start development */

.development {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #f7f7fa;
}

.development h2 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  margin-bottom: 20px;
}
.development h2::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50px;
  height: 4px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
}
.development h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}
.development .develop-content {
  position: relative;
  overflow: hidden;
}
.development .develop-content::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  background: -webkit-linear-gradient(#f7666f, #57007b);
  margin-top: -1px;
  left: 0;
}
@media (max-width: 991px) {
  .development .develop-content::before {
    display: none;
  }
}
.clearfix {
  clear: both;
}
.development .develop-content .tops,
.development .develop-content .bottoms {
  display: flex;
  gap: 10px;
  padding: 10px;
  position: relative;
  margin-top: 20px;
}
.development .develop-content .tops {
  gap: 50px;
}
.development .develop-content .top,
.development .develop-content .bottom {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  border: 1px solid #e7daed;
  padding: 20px;
  border-radius: 5px;
}

.development .develop-content .top {
  float: top;
}
.development .develop-content .bottom {
  float: bottom;
}

@media (max-width: 991px) {
  .development .develop-content .top,
  .development .develop-content .bottom {
    width: 100%;
    margin-bottom: 20px;
  }
  .development .develop-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
  }
  .development .develop-content .tops,
  .development .develop-content .bottoms {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
  }
}

.development .develop-content .top::before,
.development .develop-content .bottom::before {
  content: "";
  width: 2px;
  height: 20px;
  background-color: #de4396;
  /* border: 3px solid #de4396; */
  position: absolute;
}
@media (max-width: 991px) {
  .development .develop-content .top::before,
  .development .develop-content .bottom::before {
    display: none;
  }
}
.development .develop-content .top::before {
  right: -1px;
  bottom: -42px;
}

.development .develop-content .bottom::before {
  left: -2px;
  top: -39px;
}
.development .develop-content h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.development .develop-content h3 span {
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: bold;
  margin-right: 15px;
}
.development .develop-content h3 p {
  color: #777;
  line-height: 1.7;
  width: 100%;
  font-size: 15px;
}

/* Start features */

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #f7f7fa;
}

.features h2 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  margin-bottom: 20px;
}
.features h2::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50px;
  height: 4px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
}
.features h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}

.features .boxs {
  overflow-y: auto;
  white-space: nowrap;
  display: flex;
  gap: 20px;
}

.features .boxs::-webkit-scrollbar {
  width: 0;
}
.features .boxs .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 25px;
}
.features .boxs .box p {
  max-width: 5px;
  color: #777;
  line-height: 1.7;
  width: 100%;
  font-size: 14px;
}
.features .boxs .box a {
  position: absolute;
  right: 30px;
  bottom: 1px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features .boxs .box a span {
  margin-left: 5px;
}
.features .boxs .box a span .right {
  animation: moving-arrow 0.6s infinite linear;
}
.features .boxs .box img {
  max-width: 200px;
  height: 150px;
  border-radius: 10px;
}

/* Start developer */
.developer {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.developer .content {
  background: -webkit-linear-gradient(#f1f1f5, #e4ecf7);
  padding: 60px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .developer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
.developer .content .box p {
  text-align: center;
  font-size: 30px;
  line-height: 1.9;
  font-weight: bold;
  padding: 5px;
}
@media (max-width: 767px) {
  .developer .content .box p {
    font-size: 25px;
    margin-bottom: 50px;
  }
}
.developer .content .box span {
  background: -webkit-linear-gradient(#ffc656, #f16063);
  padding: 15px 10px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

/* Start footer */
footer {
  padding-top: 100px;
  padding-bottom: 50px;
  color: #000;
}
footer .content {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 991px) {
  footer .content {
    display: flex;
    flex-direction: column;
  }
}
footer .content .footer-info h3 {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  font-size: 30px;
}
footer .content .footer-info img {
  width: 200px;
}
footer .content .footer-info p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 1.9;
  margin: 0;
  margin-bottom: 30px;
  color: #777;
}
footer .content .footer-info .p {
  margin-bottom: 5px;
}
footer .content .footer-info a {
  font-family: "Barlow", sans-serif;
  position: relative;
  display: block;
  font-size: 15px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

footer .content .footer-info .calls {
  display: flex;
  gap: 10px;
}
footer .content .footer-info ul li {
  padding: 7px;
  color: #777;
  cursor: pointer;
}
footer .content .footer-info ul li:hover {
  color: #000;
}
footer .content .footer-info .calls .call {
  font-size: 30px;
  margin-right: 10px;
}
footer .content .footer-info .calls a {
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 7px;
  padding: 20px;
  padding-left: 0;
  color: #777;
}
footer .content .footer-info .calls a:hover {
  color: #000;
}
footer .content .footer-info .social {
  text-align: center;
  display: flex;
  gap: 13px;
  right: 50px;
  position: absolute;
  cursor: pointer;
}
footer .content .footer-info .social span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 4px 1px 10px #999;
  border-radius: 50%;
  transition: 0.5s;
}
footer .content .footer-info .social .i {
  cursor: pointer;
  color: #000;
}
footer .content .footer-info .social span:hover .i {
  color: #57007b;
}

/* Start stack */

.stack {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #f7f7fa;
}

.stack h2 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  margin-bottom: 20px;
}
.stack h2::before {
  position: absolute;
  content: "";
  top: -30%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50px;
  height: 4px;
  background: -webkit-linear-gradient(#f7666f, #57007b);
}
.stack h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}
.stack .content ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  overflow-y: auto;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .stack .content ul {
    justify-content: start;
  }
}

.stack .content ul::-webkit-scrollbar {
  width: 0;
}
.stack .content ul li {
  padding: 10px 10px;
  display: block;
  cursor: pointer;
  margin-right: 10px;
}
.stack .content ul li:hover,
.stack .content ul li.act {
  background: -webkit-linear-gradient(#f7666f, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stack .content .image {
  display: flex;
  position: relative;
  justify-content: center;
  column-gap: 100px;
  row-gap: 30px;
  flex-wrap: wrap;
  /* display: none; */
  text-align: center;
}
.stack .content .img:not(.activity) {
  display: none;
}
.stack .content .img.activity {
  display: flex;
}
.stack .content .image img {
  width: 100px;
}
